.btn {
  padding: 5px;
  background-color: var(--color-light);
  color: var(--color-dark);

  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;

  font: inherit;
  font-family: inherit;
  text-transform: uppercase;

  color: inherit;
  /* border: none; */
  border-radius: 3px;

  cursor: pointer;
  appearance: none;

  padding: 0 1rem;

  border-radius: 20px;
  min-height: 2.25rem;

  /* margin-top: 3rem; */

  font-weight: bold;
  text-transform: uppercase;

  transition: background-color 0.4s ease-in-out;
}

.btn:hover {
  background-color: var(--color-accent);
  color: var(--color-light);
}

/* Btn Styles */
.outlineLight {
}

.outlineDark {
}

.fillLight {
}

.fillDark {
}

.light {
}

.dark {
}
