.sidebar {
  /* background-color: #fff; */

  /* display: grid; */
  display: flex;

  /* grid-template-columns: repeat(4, 1fr); */

  align-items: center;

  border: 2px solid royalblue;
}

.document {
  border: 2px solid salmon;
}

.document.active {
  background-color: salmon;
  color: #fff;
  border: 3px solid royalblue;
}

.documentIcon {
  font-size: 2rem;
}
