.searchPage {
  flex: 1;

  background-color: var(--surface2);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Phone */
@media (max-width: 599px) {
}
/* Tablet Portrait Up */
@media (min-width: 600px) {
}
/* Tablet Landscape Up */
@media (min-width: 900px) {
}
/* Desktop */
@media (min-width: 1200px) {
}
/* Big Desktop */
@media (min-width: 1800px) {
}
