.search-page {
  flex: 1;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);

  /* background-image: url('assets/img/hero-image-2.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;

  padding: 2rem;
}

/* Utilities */

.container {
  display: flex;

  gap: 2rem;
}

.section {
  flex: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;

  /* border: 1px solid purple; */
  padding: 1rem;
}

.form {
  min-height: 100%;

  display: flex;
}

.text-area {
  flex: 1;

  padding: 1rem;

  font-size: 1rem;
  font: inherit;
}

.text-area:focus {
  outline: 2px solid var(--accent-color);
}

.results {
}
