.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexContainer {
  display: flex;
  align-items: center;
  min-height: inherit;
}

/*  Navbar */
.nav {
  z-index: 10;
  padding: 0.5rem;

  width: 100%;
  height: 100%;

  color: var(--text1);
  box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
}

.navList {
  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
}

.navItem {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  min-height: inherit;

  border-bottom: 2px solid transparent;

  transition: border 0.25s ease-out;
}
